body {

    overflow-x: hidden;
    margin: 0;
   
    color: #ffffff;


}

.back-img{
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url('https://images.unsplash.com/photo-1473163928189-364b2c4e1135?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}


/* Glass effect */
.glass {
    padding: 5px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5.3px);
    backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

/* Header styles */
main>h1 {
    margin-left: 5%;
    margin-top: 10px;
    text-decoration: underline;

}

/* Article styles */
article {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding: 5px;
}

.wrap {
    display: flex;
    justify-content: center;

}

/* Featured card styles */
.featured-card {
    max-width: 1280px;
    max-height: 720px;
    display: flex;
    background-image: linear-gradient(to right, #031125ec, #00000041);
    border-radius: 15px;

}

.featured-card-details {
    padding: 15px;
}

/* Image styles */
.image-class>img {
    max-width: 720px;
    max-height: 720px;
    background-size: cover;
    background-position: center;
    padding-right: 15px;
    border-radius: 15px;
}

/* Read More styles */
span {
    content: "\2197";
}

.read-more-btn {
    justify-content: end;
    border-color: aliceblue;
    background-color: #031125ec;
    padding: 0;
    font: inherit;
    padding: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.read-more-btn:hover {
    justify-content: end;
    border-color: aliceblue;
    background-image: linear-gradient(to right, #000000, #0b0b2e);
    padding: 0;
    font: inherit;
    padding: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}


.tags {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.tag {
    background: #10043f4d;
    padding: 5px 10px;
    margin-left: 5px;
    /* Adjust spacing between tags */
    cursor: pointer;
    /* Add cursor style to indicate interactivity */
}

.tag.active {
    background: #3498db;
    /* Example active state background color */
    color: #fff;
    /* Example active state text color */

}







/* RECENT BLOGS */
.recent-image-warp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.recent-card {
    position: relative;
    width: 1080px;
    height: 720px;
    border-radius: 15px;
    overflow: hidden;
    /* Hide overflow for the shading effect */

}

.recent-card img {
    width: 100%;
    height: auto;
    display: block;
}

.shade-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.57);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;


}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    position: relative;

}

/* smaller-recent-card */
.smaller-recent-card {
    display: block;
    padding: 2%;
}

.recent-card2 {
    position: relative;
    width: 450px;
    height: 350px;
    border-radius: 15px;
    overflow: hidden;
    /* Hide overflow for the shading effect */
    margin-bottom: 10px;

}

.recent-card2 img {
    width: 100%;
    height: auto;
    display: block;
}

.shade-card2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.57);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;


}

.card-details2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    position: relative;

}


/* view more button */

.view-more-btn {
    display: flex;
    align-items: center;
}

.view-more-btn>hr {
    flex: 1;
    height: 1px;
    border: none;
    background-color: #ffffff;
    margin: 0 10px;
}

.view-more-btn>button {
    width: 250px;
    padding: 12px 20px;
    border: 1px solid #000;
    background-color: rgba(1, 3, 8, 0.664);
    color: #ffffff;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: width 0.3s ease;
}

.view-more-btn>button>i {
    position: absolute;
    right: 30%;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0;
    transition: opacity 0.3s ease, right 0.3s ease;
}

.view-more-btn>button:hover>i {
    opacity: 1;
    right: 65px;
}

/* Upcoming white card */
.upcoming-class {
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-card {
    /* 
    background-image: url('https://images.unsplash.com/photo-1548705085-101177834f47?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1080px;
    flex-shrink: 0;
    margin-top: 5%;


}

.join-next-tour {
    position: absolute;
}

.join-next-tour>h1 {

    margin-top: -50%;
    color: #ffffff;
    font-size: 86px;
    font-family: Verdana, Tahoma;
    font-weight: 900;

}

.left-text {
    width: 393px;
    margin-left: -5%;
    margin-top: -7%;


}

.left-text h4 {
    color: rgb(255, 255, 255);

    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: -50%;


}

.left-text h2 {
    color: #ffffff;
    font-family: 'Merriweather';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

}

.left-text article {

    color: rgb(255, 255, 255);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.ecilipse-img {
    border-radius: 50%;
    border: 15px solid rgb(255, 255, 255);
    padding: 25px;
    margin-left: 5%;

}

.right-text {
    width: 276px;
    margin-left: 5%;
    margin-top: -7%;
}

.right-text h2 {
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right-text article {
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}


/* Video card section */

.video-card {
    position: relative;
    width: 100%;
    height: 720px;
    overflow: hidden;
    border-radius: 10px;
  

}

.video-card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode:exclusion;

}

.video-card-content {
    position: relative;
    z-index: 1;
    margin-left: 5%;
    margin-top: 5%;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

}

.video-card-content h2 {
    font-size: 96px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    line-height: 150px;
    mix-blend-mode: difference;
}

.video-card-content button {
    font-size: 36px;
    padding: 15px 30px;
    background: none;
    color: #ffffff;
}

/* Footer styles */
.footer-warp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-background {
    background: #070211;
    height: 609px;
    flex-shrink: 0;


}

.location {
    display: flex;
    margin-left: 5%;

}

.location p {
    margin-top: 5%;
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;


    /* 166.667% */
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -5%;
    margin-right: 5%;
    direction: ltr;

}

.contact p {
    display: block;
    margin-top: 0%;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;

    /* 166.667% */
}

.footer-background>hr {
    background: rgba(255, 255, 255, 0.15);

    border: none;
    width: 1820px;
    height: 1px;
}

.social-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;

}

.social-wrap i {

    width: 150px;
}

.rights-section {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5%;
    margin-right: 5%;
}

.rights-section a {
    text-decoration: none;
    color: #ffffff;
}