body {
    background-image: linear-gradient(to right, #000000, #131322);
    overflow-x: hidden;
    padding: 5px;
    color: rgb(255, 255, 255);
    margin: 0;
}


/* Glass effect */
.glass {
    padding: 5px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5.3px);
    backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

/* Header styles */
main>h1 {
    margin-left: 5%;
    margin-top: 10px;
    text-decoration: underline;

}

/* Article styles */
article {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding: 5px;
}

.wrap {
    display: flex;
    justify-content: center;

}

/* Featured card styles */
.featured-card {
    max-width: 1280px;
    max-height: 720px;
    display: flex;
    background-image: linear-gradient(to right, #031125ec, #00000041);
    border-radius: 15px;

}

.featured-card-details{
    padding: 15px;
}

/* Image styles */
.image-class>img {
    max-width: 720px;
    max-height: 720px;
    background-size: cover;
    background-position: center;
    padding-right: 15px;
    border-radius: 15px;
}

/* Read More styles */
span {
    content: "\2197";
}

.read-more-btn {
    justify-content: end;
    border-color: aliceblue;
    background-color: #031125ec;
    padding: 0;
    font: inherit;
    padding: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.read-more-btn:hover {
    justify-content: end;
    border-color: aliceblue;
    background-image: linear-gradient(to right, #000000, #0b0b2e);
    padding: 0;
    font: inherit;
    padding: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}


.tags {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.tag {
    background: #10043f4d;
    padding: 5px 10px;
    margin-left: 5px; /* Adjust spacing between tags */
    cursor: pointer; /* Add cursor style to indicate interactivity */
}

.tag.active {
    background: #3498db; /* Example active state background color */
    color: #fff; /* Example active state text color */
  
}







/* RECENT BLOGS */
.recent-image-warp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.recent-card {
    position: relative;
    width: 1080px;
    height: 720px;
    border-radius: 15px;
    overflow: hidden; /* Hide overflow for the shading effect */
    
}

.recent-card img {
    width: 100%;
    height: auto;
    display: block;
}

.shade-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.57);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
  
    
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    position: relative;
 
}

/* smaller-recent-card */
.smaller-recent-card{
    display: block;
    padding: 2%;
}

.recent-card2 {
    position: relative;
    width: 450px;
    height: 350px;
    border-radius: 15px;
    overflow: hidden; /* Hide overflow for the shading effect */
    margin-bottom: 10px;
    
}

.recent-card2 img {
    width: 100%;
    height: auto;
    display: block;
}

.shade-card2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.57);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
  
    
}

.card-details2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    position: relative;
 
}








/* Footer styles */
footer>p {
    text-align: center;
}