@import url('https://fonts.cdnfonts.com/css/inter');
.brand-name-warp {
    display: flex;
    justify-content: center;
}

.brand-name-section {
    border-radius: 25px 15px 0px 0px;
    background: none;
    background-repeat: no repeat;
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.brand-name h1 {
    color: #FFF;
    font-family: 'Inter', 'serif';
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px;
}

.search-section {
    display: flex;
    margin-top: 10px;
    margin-right: 10%;
}

.search-section input {
    border-radius: 25px 0px 0px 25px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0);
    padding-left: 55px;
    width: 380px;
    height: 42px;
    border-color: rgba(129, 128, 133, 0.514);
    
}

.search-section button {
    position: absolute;
    border-radius: 0px 35px 35px 0px;
    margin-right: 5%;
    border: none;
    width: 120px;
    height: 45px;
    margin-left: 0%;
    background-color: rgba(7, 27, 58, 0.6);
    padding: 10px;
    margin-top: -2px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

nav {
    background-image: linear-gradient(to top, #00000009, #000000);
    background-repeat: no repeat;
    border-radius: 7px 0px 0px 15px;
    width: 1300px;
    padding: 3px 50px;
    margin: 0 auto;
}

nav>ul {
    padding: 0;
    display: flex;
    color: #ffffff;
}

nav li {
    list-style: none;
    padding: 5px 20px;
    position: relative;
}
i{
    padding: 5px 10px;
}
nav li:hover {
    color: #00d9ff;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
}

.categories-writing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    color: #FFF;
    position: relative;

}

.categories-writing h1 {

    font-family: 'Franklin Gothic large';
    margin-left: -15%;
}

.categories-writing h1 span {
    font-size: 1.5em;
}

.categories-writing> hr {
    background: #FFF;
    width: 10%;
}

.filter {
    display: flex;
    align-items: center;
    z-index: 1;
    margin-right: 15%;
}

.filter a {
    text-decoration: none;
    color: #FFF;
}

.filter .dropdown {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.filter li:hover .dropdown {
    display: block;
}

.filter li:hover .dropdown .apply-clear {
    display: inline-flex;
}

.filter li {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 10px 15px;
    display: block;
}

.filter li:hover {
    background-color: #000000;
}

.filter li:hover > a {
    color: #0051ff;
}

.apply-clear {
    margin-top: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; 
}

.apply-clear button {
    margin-right: 10px;
}


nav li .dropdown {
    display: none;
    position: absolute;
    width: 10vw;
    background-image: linear-gradient(to top, #000000, #2c2c2c);
    background-repeat: no-repeat;
    z-index: 1;
}


nav li:hover .dropdown {
    display: block;
}

